#*
 Copyright 2010-2014 Norconex Inc.
 
 This file is part of Norconex Importer.
 
 Norconex Importer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex Importer is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex Importer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($releasePath = "http://norconex.s3.amazonaws.com/repo/release/com/norconex/collectors/norconex-importer")
<head><title>Download</title><meta name="Author" content="Norconex Inc." /></head> 


$h2 Binaries

**[Download Latest Release ${currentStableVersion}]($releasePath/${currentStableVersion}/norconex-importer-${currentStableVersion}.zip)**

  * Now stores the content "family" for each documents as 
    "importer.contentFamily".
  * New SplitTagger: Split values into multiple-values using a separator
    of choice.
  * New CopyTagger: copies document metadata fields to other fields.
  * New HierarchyTagger: splits a field string into multiple segments 
    representing each node of a hierarchical branch.
  * ReplaceTagger now supports regular expressions.
  * Improved mime types detection.
  * More...  
  * [View all changes]((changes-report.html))


**Older Releases**

  * [1.2.0]($releasePath/1.2.0/norconex-importer-1.2.0.zip)<small>
    [[Release Notes](changes-report.html#a1.2.0)]</small>
  * [1.1.0]($releasePath/1.1.0/norconex-importer-1.1.0.zip)<small>
    [[Release Notes](changes-report.html#a1.1.0)]</small>
  * [1.0.1]($releasePath/1.1.0/norconex-importer-1.0.1.zip)<small>
    [[Release Notes](changes-report.html#a1.0.1)]</small>
  * [1.0.0]($releasePath/1.0.0/norconex-importer-1.0.0.zip)<small>
    [[Release Notes](changes-report.html#a1.0.0)]</small>


$h2 Source
  
Source code can be obtained on [GitHub](https://github.com/Norconex/importer).
  
Maven users can add the following to their pom.xml:
  
	 <repository>  
	   <id>norconex-release-repo</id>  
	   <name>Norconex Release Repository</name>  
	   <url>http://norconex.s3.amazonaws.com/repo/release</url>  
	   <releases>  
	     <enabled>true</enabled>  
	   </releases>  
	   <snapshots>  
	     <enabled>false</enabled>  
	   </snapshots>  
	 </repository>  
	
	 <dependency>
	   <groupId>com.norconex.collectors</groupId>
	   <artifactId>norconex-importer</artifactId>
	   <version>${currentStableVersion}</version>
	 </dependency>
	
	 <!-- At your own risk: -->
	 <repository>  
	   <id>norconex-snapshot-repo</id>  
	   <name>Norconex Snapshot Repository</name>  
	   <url>http://norconex.s3.amazonaws.com/repo/snapshot</url>  
	   <releases>  
	     <enabled>false</enabled>  
	   </releases>  
	   <snapshots>  
	     <enabled>true</enabled>  
	   </snapshots>  
	 </repository>  
