#*
 Copyright 2010-2014 Norconex Inc.
 
 This file is part of Norconex Importer.
 
 Norconex Importer is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 Norconex Importer is distributed in the hope that it will be useful, 
 but WITHOUT ANY WARRANTY; without even the implied warranty of 
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with Norconex Importer. If not, see <http://www.gnu.org/licenses/>.
*#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head><title>Supported Formats</title><meta name="Author" content="Norconex Inc." /></head> 

$h1 Supported document formats

While you can write your own text extraction 
[parsers](./apidocs/com/norconex/importer/parser/IDocumentParser.html)
to handle different document formats, chances are the Norconex Importer 
already supports your file formats.

The following is a list document formats supported by Norconex Importer
(most are handled by the great [Apacke Tika](http://tika.apache.org) library). 
If you find more supported formats or inaccuracies, please let us know.

*********************************************************

<h2 />

  * Plain Text
    * HTML
    * XML
    * Feeds
        * RSS
        * ATOM
        * IPTC ANPA New Wire Feeds
    * Source Code
        * Java
        * Groovy
        * C++
    * Others (content)
  * Microsoft Office
    * Excel
    * Word
    * PowerPoint
    * Visio
    * Outlook
    * Publisher
    * Works
    * Files serialized using Microsoft Foundation Class (MFC) API 
  * Open Office (Open Document Format)
    * Calc
    * Writer
    * Impress
    * Draw
  * IWork
    * Keynote
    * Pages
    * Numbers     
  * Word Perect (text content only, no metadata)
  * PDF


<h2 />

  * Electronic Publication Format (EPUB)
  * Rich Text Format (RTF)
  * Compressed/packaged files
    * ar
    * cpio
    * Unix dump
    * tar
    * zip
    * gzip
    * XZ
    * Pack200
    * bzip2
    * 7z
    * arj
    * lzma
    * snappy
    * Z
    * jar
  * Audio (mostly metadata only)
    * aiff
    * au
    * riff
    * mp3
    * wav
  * Image formats (metadata only)
    * bitmap (including EXIF)
    * gif
    * jpeg
    * png
    * tiff
    * psd
    * xmp
        
<h2 />
    
  * Video (metadata only)
    * Flash
    * MP4
  * Java classes
  * Fonts
    * True Type Fonts (metadata only)
    * AFM font files
  * Email (various formats)
  * Microsoft WinHelp (CHM)
  * AutoCAD (metadata only)
  * Scientific formats
    * HDF
    * NetCDF
  * Public-key cryptography standards (PKCS) files
  * Portable Executable (PE)
    * cpl
    * exe 
    * dll
    * ocx
    * sys
    * scr
    * drv
    * efi
  * Executable and Linkable Format (ELF)
    * o
    * so
    * elf
    * prx
    * puff
    * bin
    * Other ELF files regardless of extension 